@mixin _root {
    .container{
        padding:$gg-whitespace-md 0;
        // margin:$gg-whitespace-md;
    .GGMenu{
        // width:45%;
        padding:15px;
        border:solid 1px gray;
        background-color: $bgcolor;
        border-radius: $gg-border-radius-md;
        .icon{
            width:$width;
            height:$height;
            margin:$gg-whitespace-sm;
        }
        .fontClass{
            font-size: $font-size;
        }
        .fontClass-sm{
            font-size: $font-size-sm;
        }
    }
    .flexCenter{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gridCenter{
        display: grid;
        align-items: center;
        justify-content: center;
    }
}
}