//ICON尺寸
$icon-size:60px;
//文字大小
$label-size:0.8rem;
//导航栏背景色
$bg-color: #d3f7f7 !default;
//导航栏上部圆角弧度
$bg-radius:0px;
//导航栏上部是否需要阴影
$need-shadow:true;
//导航栏上部阴影颜色
$shadow-color:#fff;



// $-WEAPP-bg-color: #314631;
// $-WEB-bg-color:#ddffdd;