.root-weapp {
  @include _root;
  .selectTime {
    background-color: #f5f5f5;
    height: 100vh;
    .datebar {
      margin: 0;
      :global {
        .barGp {
          .item {
            padding: 20px;
            height: 140px;
            margin: 10px 5px;
            background-color: #f5f5f5;
            justify-content: space-around;
            border-radius: 15px;
            .label {
              font-size: $gg-font-size-normal;
            }
            .label:first-child {
              margin-bottom: 15px;
            }
          }
          .item-active {
            border: 0;
            background-color: $gg-main-color;
            color: #fff;
            border-radius: 15px;
          }
        }
      }
    }
    .content {
      @include gg-flex-layout(column, center, center);
      padding-top: 15px;
      .cardItem {
        box-shadow: 0 0 12px 0 #bfc0c080;
        background-color: #fff;
        border-radius: 16px;
        padding: 40px 32px;
        position: relative;
        margin: 15px 0;
        width: calc(100vw - (32px * 4)); //4指的是2个左右外边距，2个左右内边距
        .upper {
          display: flex;
          align-items: center;
        }

        .userCard_image {
          width: 120px;
          height: 120px;
          margin-right: 15px;
        }
        .userCard_middle {
          .userCard_middle_title {
            margin-bottom: -4px;
            font-size: 40px;
          }
          .tag {
            height: 30px;
            @include gg-flex-layout;
            background: #f8ead0;
            border-radius: 9px;
            color: #ff8827;
            font-size: 20px;
            padding: 0;
            margin: 0;
            margin-left: 16px;
          }
          .userCard_middle_next {
            min-width: 350px;
            max-width: 490px;
            margin-top: 16px;
            font-size: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
          }
        }
        .userCard_right {
          // width: auto;
          min-width: 140px;
          @include gg-flex-layout;
          justify-content: flex-end;
        }
        .userCard_tag {
          text-align-last: justify;
          position: absolute;
          left: 0;
          top: 0;
          width: auto;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 16px 0 16px 0;
          background-color: $gg-main-color;
          color: #fff;
          font-size: 8px;
          padding: 0 10px;
          &.disabled {
            background-color: #cbcbcb !important;
          }
        }
      }
      .result {
        padding: 100px;
        :global {
          .GGResult .title {
            font-size: $gg-font-size-sm;
            color: #bbb;
            font-weight: 400;
          }
        }
      }
    }
  }
}
