// 字体大小
$font-size-sm:$gg-font-size-sm;
$font-size-normal:$gg-font-size-normal;
$font-size-md:$gg-font-size-md;

// 背景色
$bgcolor:$gg-background-color;

// 图标大小
$icon-width:100px;
$icon-height:100px;

// 用户icon大小
$user-width:100px;
$user-height:100px;

// 二维码大小
$qricon-width:80px;
$qricon-height:80px;