//ICON尺寸
$icon-size:50px;
//文字大小
$label-size:0.65rem;
//日期栏背景色
$bg-color: #ffffff;
//日期title栏背景色
$bg-title-color:#efefef;
//date圆圈背景色
$bg-date-color:#efefef;

//导航栏上部圆角弧度
$bg-radius:30px;
//导航栏上部是否需要阴影
// $need-shadow:true;
//当前激活颜色
$active-color:#02868f;


$-WEB-bg-color:#ddffdd;
$-WEAPP-bg-color: #314631;
