.root-web {
  @include _root;
  .hospitalIntroduction {
    .header_main {
      @include gg-flex-layout(column);
      .cap {
        background-color: $gg-main-color;
        width: 100%;
        height: 60px;
      }
      .pic {
        width: 100%;
        background-image: linear-gradient($gg-main-color, #f1faf5);
        @include gg-flex-layout(column);
      }
      .img {
        width: 90%;
      }
    }
    .hospitalName{
      @include gg-flex-layout;
      font-size: 45px;
      font-weight: $gg-font-weight-lg;
      margin: 10px 0;
    }
    .info_main {
      margin:0 $gg-wingblank-lg;
      .line_item {
        font-size: $gg-font-size-normal;
        text-indent:2em;
        line-height: 70px;
        color: #855757;
      }
    }
  }
}
