.root-web {
  @include _root;

  .order {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    .bannerImg {
      @include gg-flex-layout;
      width: 100%;
      // background-color: #4facff;
      background-color: #fff;
      // padding: 20px 0;
      padding-top: 20px;
      .swiper {
        height: 380px;
        width: 95%;
        // width: 100%;
        :global {
          .swiper-container-horizontal > .swiper-pagination-bullets,
          .swiper-pagination-custom,
          .swiper-pagination-fraction {
            bottom: 5px;
          }
        }

        .swiperItem {
          text-align: center;
          .banner {
            // width: 99%;
            width: 100%;
          }
        }
      }
    }
    .timeQuantumArea {
      position: relative;
      width: 100%;
      // height: 160px;
      background-color: #fef4b7;
      @include gg-flex-layout;
      .tipIcon {
        position: absolute;
        right: 0;
      }
      .currentDateArea {
        text-align: center;
        width: 30%;
        font-size: $gg-font-size-ssm;
        @include gg-flex-layout;
        .currentDataContent {
          height: 100%;
          .currentType {
            margin-left: 10px;
          }
        }
      }
      .timeQuantumListArea {
        width: 70%;
        height: 100%;
        overflow: hidden;
        .Timecontainer {
          overflow-x: scroll;
          overflow-y: hidden;
          height: 100%;
          list-style-type: none;
          display: flex;
          align-items: center;
          .timeItem {
            flex: none;
            font-size: $gg-font-size-md;
            width: 160px;
            @include gg-flex-layout;
            margin: 15px 10px;
            padding: 5px 0;
            border-radius: 35px;
            color: #a29a6b;
          }
          .activeTimeItem {
            background-color: #fff;
            color: #000;
            padding: 5px 15px;
          }
        }
      }
    }
    .commodityListArea {
      @include gg-flex-layout;
      align-items: flex-start;
      padding-bottom: 110px;
      height: 100vh;
      overflow: hidden;
      .typeLeft {
        overflow-x: hidden;
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .typeItemActive {
          background-color: #fff !important;
          border-left: 14px solid #4facff;
          border-top-right-radius: 5px;
          padding-left: 0;
        }
        .typeItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px 16px;
          padding-bottom: 20px;
          // background-color: #fff;
          .typeICON {
            width: 140px;
            height: 120px;
          }
          .typeTitle {
            font-size: $gg-font-size-md;
          }
        }
      }
      .contentRight {
        overflow-x: hidden;
        width: 75%;
        // min-height: 1000px;
        height: 100%;
        background-color: #fff;
        .commodityItem:last-child {
          margin-bottom: 120px;
        }
        .commodityItem {
          margin: 10px;
          .CommodityCard {
            position: relative;
            @include gg-flex-layout;
            justify-content: flex-start;
            .pic {
              width: 150px;
              height: 150px;
              border-radius: 15px;
              margin: 10px 20px;
            }
            .infoTextArea {
              display: flex;
              flex-direction: column;
              font-size: $gg-font-size-sssm;
              .title {
                font-size: $gg-font-size-md;
              }
              .materialsInfo,
              .sale {
                color: rgb(134, 129, 129);
                width: 350px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
            .numberBtnArea {
              position: absolute;
              bottom: 10px;
              right: 15px;
              width: 150px;
              height: 40px;
              @include gg-flex-layout;
              justify-content: space-around;
              .currentNumber {
                font-size: $gg-font-size-lg;
                width: 40px;
                text-align: center;
              }
              .numberBtnLeft {
                width: 40px;
                height: 40px;
                @include gg-flex-layout;
              }
              .activeBtn {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }
    }
    .SettlementArea {
      width: 75%;
      position: fixed;
      bottom: 115px;
      right: 0px;
      background-color: #fff;
      @include gg-flex-layout;
      align-items: flex-start;
      height: 110px;
      // border-top-left-radius: 15px;
    }
    .SettlementBtn {
      background-color: #efbb1a;
      border-radius: 15px;
      width: 510px;
      height: 80px;
      display: flex;
      .btnLeft {
        width: 20%;
        @include gg-flex-layout;
        .orderICON {
          width: 60px;
          height: 60px;
        }
        :global {
          .at-badge__num {
            @include gg-flex-layout;
            border-radius: 0;
            padding: 0;
            min-width: 32px;
            min-height: 32px;
            right: 0px;
            border-radius: 15px;
            font-size: $gg-font-size-sssm;
          }
        }
      }
      .btnMiddle {
        @include gg-flex-layout;
        justify-content: flex-start;
        width: 50%;
        color: #fff;
        font-size: $gg-font-size-lllg;
        padding-left: 20px;
      }
      .btnRight {
        @include gg-flex-layout;
        width: 30%;
        font-size: $gg-font-size-md;
        color: #fff;
        height: 100%;
        background-color: #fd713c;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
    .floatMain {
      display: flex;
      flex-direction: column;
      // position: relative;
      overflow: hidden;
      :global {
        .at-float-layout__container {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          .layout-body {
            padding: 0;
          }
        }
      }
      .floatHeader {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 710px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $gg-font-size-sssm;
        color: #464544;
        background-color: #fef1eb;
        height: 70px;
        padding: 0 20px;
        border-bottom: 1px solid #bbb;
        .headerRight {
          @include gg-flex-layout;
          .clearICON {
            width: 30px;
            height: 30px;
          }
        }
      }
      .floatContent {
        padding-top: 70px;
        // .commodityItem:last-child {
        //   margin-bottom: 120px;
        // }
        .commodityItem {
          margin: 10px;
          .CommodityCard {
            position: relative;
            @include gg-flex-layout;
            justify-content: flex-start;
            .pic {
              width: 100px;
              height: 100px;
              border-radius: 15px;
              margin: 10px 20px;
            }
            .infoTextArea {
              display: flex;
              flex-direction: column;
              font-size: $gg-font-size-sssm;
              .title {
                font-size: $gg-font-size-llg;
              }
              .materialsInfo,
              .sale {
                color: rgb(134, 129, 129);
              }
            }
            .numberBtnArea {
              position: absolute;
              bottom: 10px;
              right: 15px;
              width: 150px;
              height: 40px;
              @include gg-flex-layout;
              justify-content: space-around;
              .currentNumber {
                font-size: $gg-font-size-lg;
                width: 40px;
                text-align: center;
              }
              .numberBtnLeft {
                width: 40px;
                height: 40px;
                @include gg-flex-layout;
              }
              .activeBtn {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }

      .packArea {
        height: 150px;
        width: 100%;
        margin-bottom: 120px;
        // margin: 0px 10px;
        margin-left: 10px;
        @include gg-flex-layout;
        justify-content: flex-start;
        .packIcon {
          width: 100px;
          height: 100px;
          border-radius: 15px;
          margin: 10px 20px;
        }
        .txt {
          @include gg-flex-layout;
          flex-direction: column;
          .title {
            font-size: $gg-font-size-llg;
          }
        }
        .packNumber {
          font-size: $gg-font-size-lg;
          width: 410px;
          text-align: right;
        }
      }
      .floatFooter {
        position: fixed;
        bottom: 0px;
        // right: 0px;
        width: 100%;
        height: 120px;
        background-color: #fff;
        // border: 1px solid;
        @include gg-flex-layout;
        // z-index: 999;
        .SettlementBtn {
          background-color: #efbb1a;
          border-radius: 15px;
          width: 95%;
          height: 90%;
          display: flex;
          .btnLeft {
            width: 20%;
            @include gg-flex-layout;
            .orderICON {
              width: 60px;
              height: 60px;
            }
            :global {
              .at-badge__num {
                @include gg-flex-layout;
                border-radius: 0;
                padding: 0;
                min-width: 32px;
                min-height: 32px;
                right: 0px;
                border-radius: 15px;
                font-size: $gg-font-size-sssm;
              }
            }
          }
          .btnMiddle {
            @include gg-flex-layout;
            justify-content: flex-start;
            width: 50%;
            color: #fff;
            font-size: $gg-font-size-lllg;
            padding-left: 20px;
          }
          .btnRight {
            @include gg-flex-layout;
            width: 30%;
            font-size: $gg-font-size-md;
            color: #fff;
            height: 100%;
            background-color: #fd713c;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }
      }
    }
    .modalMain {
      :global {
        .at-modal__container {
          border-radius: 20px;
          .at-modal__content {
            padding: 0px;
            // padding-top: 10px;
          }
        }
      }
      .modalContent {
        @include gg-flex-layout;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .modalTitle {
          font-size: $gg-font-size-lllg;
          margin-top: 15px;
        }
        .modalImg {
          width: 80%;
          height: 80%;
          margin: 15px 0;
          border: 1px solid #bbb;
        }
        .modalIntro {
          font-size: $gg-font-size-sm;
          align-self: start;
          text-indent: 2em;
        }
        .price {
          @include gg-flex-layout;
          justify-content: flex-start;
          height: 100px;
          width: 100%;
          background-color: #fff2ec;
          padding-left: 80px;
          color: #ff7234;
          font-size: $gg-font-size-lllg;
          .priceIcon {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
    .result {
      padding: 40px 80px;
      :global {
        .GGResult .title {
          font-size: $gg-font-size-sm;
          color: #bbb;
          font-weight: 400;
        }
      }
    }
    .nav {
      justify-content: space-around;
      height: 115px;
      // z-index: 999;
      :global {
        .item {
          .label {
            font-size: $gg-font-size-ssm;
          }
        }
      }
    }
  }
}
