@import './global.scss';

$hd: 3.5 !default; // 基本单位 原始值是：2

/* The Color of O2Team Brand */
$color-brand: $gg-main-color !default;
$color-brand-light: #78A4F4 !default;
$color-brand-dark: #346FC2 !default;